{% extends 'base.html' %}
{% load static %}

{% block title %} register {% endblock title %}
{% block container %}
<div class="container mt-3">
    <form  method="POST">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-warning">
            {{ error }}
        </div>
        {% endif %}

        <div class="mb-3">
            <input type="text" class="form-control" name='username' value="{{ username }}">
            <label for="username">Username</label>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" name='email'value="{{ email }}">
            <label for="email">Email</label>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name='firstname'value="{{ firstname }}">
                <label for="firstname">Firstname</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name='lastname'value="{{ lastname }}">
                <label for="lastname">Lastname</label>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <input type="password" class="form-control" name='password'>
                <label for="Password">Password</label>
            </div>
            <div class="col">
                <input type="password" class="form-control" name='repassword'>
                <label for="repassword">Rerepassword</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock container %}